<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Home</title>
</head>
<body>
    <div id="container">
        <nav id="header-nav">
            <span id="header-text">Simple HR ERP System</span>
        </nav>
        <nav>
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/admin-add-employee"><li>Add Employee</li></a>    
                <a href="/admin-show-employee"><li>Show Employee</li></a>
                <a href="/admin-search-employee"><li>Search Employee</li></a>
                <a href="/logout"><li>Logout</li></a>
            </ul>
        </nav>
