{% include 'admin-header.html' %}

            <form action="/save" method="POST">
            <div id="login-form1">
                <h2>Employee Registration Form</h2>

                <label for="EmpId1" id="nameLabel">Emp Id : </label>
                <input type="number" name="txtempId" id="EmpId1">
    
                <br><br>

                <label for="NameId1" id="nameLabel">Name : </label>
                <input type="text" name="txtName" id="NameId1">
    
                <br><br>
    
                <label for="EmailId1" id="nameLabel">Email : </label>
                <input type="email" name="txtEmail" id="EmailId1"> 
    
                <br><br>

                <label for="MobileId1" id="nameLabel">Mobile : </label>
                <input type="number" name="txtMobile" id="MobileId1"> 

                <br><br>

                <label for="DesignationId1" id="nameLabel">Designation : </label>
                <input type="text" name="txtDesignation" id="DesignationId1"> 

                <br><br>

                <label for="SalaryId1" id="nameLabel">Salary : </label>
                <input type="number" name="txtSalary" id="SalaryId1"> 

                <br><br>
    
                <input type="submit" value="Register" name="btnLogin" id="RegisterId1">
                <input type="reset" value="Cancel" name="btnLogin" id="RegisterId1">
            </div>
        </form>

        

        <div id="side-bar">
            <img src="/static/img/admin.png" alt="">
            <span id="admin-text">Administration</span>
        </div>

        


    </div>

    <p id="footer-text">Copyright &copy; 2025 Designed by Tejas Talole. All rights reserved.</p>
</body>
</html>